alembic==1.16.2
babel==2.17.0
beautifulsoup4==4.13.4
exceptiongroup==1.3.0
googlefinance==0.7
greenlet==3.2.3
iniconfig==2.1.0
Mako==1.3.10
MarkupSafe==3.0.2
mox==0.5.3
numpy==2.2.6
packaging==25.0
pandas==2.3.1
pbr==1.6.0
pluggy==1.6.0
py-moneyed==3.0
Pygments==2.19.2
pystock==0.1.6
pytest==8.4.1
python-dateutil==2.9.0.post0
pytz==2025.2
scipy==1.15.3
six==1.17.0
soupsieve==2.7
SQLAlchemy==2.0.41
tomli==2.2.1
typing_extensions==4.14.1
tzdata==2025.2
